@model IEnumerable<CustomerAllCarsViewModel>

@{
    ViewData["Title"] = "CustomerCars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CustomerCars</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationPlate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationPlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                 <a asp-controller="Car" asp-action="AddCar" asp-route-id="@item.CustomerId"
                       class="btn btn-primary">Create New Car</a>

                 <a asp-area="" asp-controller="Car" asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-primary">Edit</a>

                 <a asp-area="" asp-controller="Car" asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-primary">Delete Car</a>

                 <a class="btn btn-primary" onclick="detailsCar('@item.Id')">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div id="xmlDoc"></div>
<script src="~/js/detailsCar.js"></script>
@* @section Scripts {
    <script>
        async function detailsCar(id) {

            try {
                let url = "https://localhost:7049/Car/Details" + id;

                let respons = await fetch(url);

                if (respons.ok) {

                    let jsonn = await respons.json();

                    let arr = jsonn.value;

                    for (let i = 0; i < arr.length; i++) {
                        document.getElementById('xmlDoc').innerHTML = arr[i];
                    }
                }
                else {
                    document.getElementById('xmlDoc').innerHTML = "hahahah";
                }
            } catch (err) {
                console.log(Error);
            }
        };
    </script> *@
@* } *@
